:root {
  --primary-color: #302f2f;
  --secondary-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Bayon", sans-serif;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 150px;
}

.score {
  width: 60px;
  text-align: center;
}

.score label {
  color: #cdfa12;
  font-size: 150px;
  font-weight: 600;
}
